<!DOCTYPE html>
<html>
<script src="https://cdn.tailwindcss.com"></script>

<style>
  * {
    font-family: "Inter", monospace;
  }

  .header {
    h1 {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0.5px;
    }

    h2 {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 400;
      letter-spacing: 0.5px;
    }

    li {
      font-size: 10px;
      text-align: right;
    }
  }

  .section {
    .heading {
      color: #d13920;
      font-size: 11px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .title {
      font-size: 11px;
      font-weight: bold;
      margin-bottom: 0;
    }

    .sub-title {
      font-size: 11px;
      font-weight: 300;
    }

    .time-span {
      font-size: 10px;
    }

    li {
      font-size: 10px;
    }
  }
</style>

<div class="container mx-auto px-10 py-10">
  <header class="header">
    <div class="grid grid-cols-4 gap-4">
      <div class="col-span-2">
        <h1>Brian Mathiyakom</h1>
        <h2>Seasoned Engineering Leader</h2>
      </div>
      <div class="col-span-1 mt-1">
        <ul>
          <li><a class="underline text-blue-600"
              href="https://linkedin.com/bmathiyakom">https://linkedin.com/bmathiyakom</a></li>
          <li><a class="underline text-blue-600" href="mailto:brian@mathiyakom.net">brian@mathiyakom.net</a></li>
        </ul>
      </div>
      <div class="col-span-1 mt-1">
        <ul>
          <li>Sunnyvale, CA</li>
          <li>+1-626-643-4047</li>
        </ul>
      </div>
    </div>
  </header>

  <section class="section">
    <div>
      <h1 class="heading mt-2 mb-2 pb-1 border border-0 border-b-2 border-[#d13920]">Experience</h1>
      {{ range . }}
      <article>
        <div class="grid grid-cols-3 gap-x-4 gap-y-0 mt-2 leading-tight">
          <h2 class="title col-span-2">{{ .Title }}</h2>
          <span class="time-span text-right opacity-50">{{ .StartDate }} - {{ .EndDate }}</span>
          <h3 class="sub-title col-span-3 mt-0">{{ .Name }}</h3>
        </div>
        <ul class="list-disc ml-4">
        {{ range .Accomplishments }}
          <li>{{ . }}</li>
        {{ end }}
        </ul>
      </article>
      {{ end }}
    </div>

    <div>
      <h1 class="heading mt-2 mb-2 border border-0 border-b-2 border-[#d13920]">Education</h1>
      <article>
        <div class="grid grid-cols-8 gap-x-4 gap-y-0 my-2">
          <h2 class="title">UCLA</h2>
          <h3 class="sub-title col-span-6">Bachelors, Mathematics & Applied Science</h3>
          <span class="time-span text-right opacity-50">2001 - 2006</span>
        </div>
      </article>
    </div>

    <div>
      <h1 class="heading mt-2 mb-2 border border-0 border-b-2 border-[#d13920]">Skills</h1>
      <article>
        <ul class="list-disc ml-4">
          <li>Tech: JavaScript, Ruby (Rails), Java, Elixir, AWS, GCP, MySQL, Oracle, Redis, OpenSearch, Kafka, GraphQL, REST, GitHub, GitLab, CircleCI, Sentry, Honeycomb, Vercel, Jenkins, PagerDuty, BigQuery, Grafana, RabbitMQ, nginx</li>
          <li>Compliance: HIPAA, SOC 2, PCI-DSS L1</li>
        </ul>
      </article>
    </div>
  </section>

</div>

</html>
